<%- include('header') -%>
<h2>This is the about page</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem donec massa sapien faucibus et molestie ac. Massa vitae tortor condimentum lacinia quis vel. Scelerisque in dictum non consectetur a erat nam. Volutpat sed cras ornare arcu dui vivamus arcu. Integer eget aliquet nibh praesent. Donec et odio pellentesque diam volutpat. Augue lacus viverra vitae congue. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Morbi quis commodo odio aenean sed adipiscing diam. Neque vitae tempus quam pellentesque nec.
</p>
<%- include('footer') -%>